/* styleshistorial.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(244, 244, 244, 0.9); /* Fondo gris claro y transparente */
    margin: 0;
    background-image: url('unsa.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #333333; /* Texto oscuro */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco y transparente */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    text-align: center; /* Centrar contenido en el contenedor */
}

h2 {
    color: #333333; /* Texto oscuro */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #333333; /* Borde delgadp para celdas */
    padding: 8px;
    text-align: center;
}

th {
    background-color: #8b0000; /* Guinda (rojo vino oscuro) para encabezado */
    color: #ffffff; /* Texto blanco para encabezado */
}

td {
    background-color: #ffffff; /* Fondo blanco para celdas */
}

a {
    color: #007bff; /* Azul enlace */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
